body{
    color: violet;
    background-color: darkblue;
    font-family: 'Turret Road', cursive;
}
topnav a:active{
    background-color: black;
    color: purple;
}
card{
    background-color:black;
}