body{
    color: violet;
    font-family: 'Turret Road', cursive;
    background-image: url(img/2019-09-25-choosing-a-website-background.png);
}
topnav a:active{
    background-color: black;
    color: purple;
}
card{
    background-color:black;
}